<div class='container'>
  <div ng-controller="LinksController">
  <input class="form-control" type='text' placeholder='filter' ng-model='search'/>
    <ul ng-model='data'>
      <li class='link' ng-repeat="link in data.links | filter:search | orderBy:'title'">
      <a href='{{link.base_url}}/api/links/{{link.code}}'>
        <span class='title'>{{link.title}}</span>
      </a>
        {{link.base_url}}/{{link.code}}
        <div class='visits'>
        <span class='count'>{{link.visits}}</span>
        Visits
        </div>
        <img src='../../assets/redirect_icon.png'
        <span class='info'></span>
      </li>
    </ul>
  </div>
</div>
